@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont/Mont-Black.eot");
  src: local("Mont Black"), local("Mont-Black"), url("../fonts/Mont/Mont-Black.eot") format("eot"),
    url("../fonts/Mont/Mont-Black.woff2") format("woff2"),
    url("../fonts/Mont/Mont-Black.woff") format("woff"),
    url("../fonts/Mont/Mont-Black.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
.mapContainer {
  width: 75vw;
  height: 100vh;
}

.loader {
  color: #000;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
      0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
      0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em,
      -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em,
      -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
      0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.featuresContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.featuresContainer h6,
.favouriteContainer h6 {
  font-family: "Mont";
  font-size: 20px;
  font-weight: 800;
  line-height: 25.56px;
  text-align: left;
}
.features {
  position: relative;
  border: rgba(196, 196, 196) 3px solid;
  border-radius: 10px;
  height: 350px;
  display: flex;
  justify-content: center;
  padding: 5px 0;
}
.features ul {
  overflow-y: scroll;
  width: 95%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  gap: 20px;
}
.favouriteContainer::-webkit-scrollbar,
.features ul::-webkit-scrollbar {
  width: 5px;
}
.favouriteContainer::-webkit-scrollbar-track,
.features ul::-webkit-scrollbar-track {
  background: transparent;
}
.favouriteContainer::-webkit-scrollbar-thumb,
.features ul::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
.features ul li {
  opacity: 0.5;
  cursor: pointer;
  width: 100%;
  height: 30px;
}
.features ul li img {
  height: 100%;
  margin-right: 5px;
}
.features button {
  position: absolute;
  width: 100%;
  top: 130%;
}
.features button:hover {
  background: #4c6298;
}

.radius input {
  margin-right: 10px;
  height: 40px;
  width: 40%;
  min-width: 90px;
}

.sideBar {
  min-width: 400px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.profile {
  max-width: 70px;
  width: 25%;
}
.panel {
  min-width: 220px;
}

.searchList {
  position: absolute;
  background: rgb(255, 255, 255);
  border: black solid;
  border-width: 0 2px 2px 2px;
  border-radius: 0 0 10px 10px;
  top: 40px;
  padding-top: 10px;
  width: 100%;
  z-index: 1;
}

.infoWindow {
  position: relative;
  width: 100%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid rgba(196, 196, 196, 1);
}
.infoWindow .image {
  width: 100%;
}

.cross {
  position: absolute;
  top: 5%;
  right: 0;
  width: 25px;
  cursor: pointer;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}
.buttons button {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.bookmarkbtn {
  background: white;
  padding: 10px 22px 10px 22px;
  border: 3px solid rgb(196, 196, 196);
  color: rgb(128, 128, 128);
}
.routebtn {
  background: rgb(94, 123, 199);
  color: white;
  border: 0;
}
.profile {
  min-width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.bookmark {
  background: rgba(199, 94, 94, 1);
  border-radius: 6px;
  border: 0;
  padding: 0;
}
.bookmark img {
  padding: 18px 21px;
}
.search {
  width: 60px;
  height: 60px;
  gap: 1px;
  border-radius: 6px;
  border: 3px 0px 0px 0px;
  opacity: 0px;
  border: 3px solid rgba(196, 196, 196, 1);
}
.search img {
  padding: 10px;
}

.logo {
  padding: 10px;
}
.favouriteContainer {
  margin-top: 10px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}
